<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="this.userService.currentUser.tipoUsuario === 'administrador'">Médicos</ion-title>
    <ion-title *ngIf="this.userService.currentUser.tipoUsuario === 'paciente'">Agendar hora</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item *ngFor="let medico of this.userService.medicos">
      <ion-avatar slot="start">
        <img *ngIf="medico.selfie" [src]="medico.selfie">
        <img *ngIf="!medico.selfie" src="../../../assets/icono.png">
      </ion-avatar>
      <ion-label>
        <h2>{{medico.nombre}} {{medico.apellidoP}}</h2>
        <p>{{medico.correo}}</p>
        <ion-button *ngIf="this.userService.currentUser.tipoUsuario === 'administrador'" color="danger" (click)="eliminarMedico(medico)">Eliminar usuario</ion-button>
        <ion-button *ngIf="this.userService.currentUser.tipoUsuario === 'paciente'" color="primary" (click)="abrirCalendario(medico)">Tomar hora</ion-button>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-fab *ngIf="this.userService.currentUser.tipoUsuario === 'administrador'" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="agregarMedico()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>

<ion-modal [isOpen]="isModalOpen">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button (click)="cancel()">Cancelar</ion-button>
        </ion-buttons>
        <ion-title>{{this.selectedMedico}}</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="confirm()" [strong]="true">Confirmar</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-item>
        <ion-datetime [isDateEnabled]="disabledDates" presentation="date" (ionChange)="onDateChange($event)"></ion-datetime>
      </ion-item>
    </ion-content>
  </ng-template>
</ion-modal>
