ion-grid {
    --ion-grid-width: 50%;
    --ion-grid-width-xs: 50%;
    --ion-grid-width-sm: 288px;
    --ion-grid-width-md: 384px;
    --ion-grid-width-lg: 480px;
    --ion-grid-width-xl: 570px;
}

ion-col {
    background-color: #4f7eeccf;
    border: solid 1px #ffffff;
    color: #fff;
    text-align: center;
}

.menu{
width: 310px;
padding-top: 10px;
}

ion-img {
width: 360px;
height: 280px;
align-items: center;
}

ion-content.background{
--background: url(/assets/fondo.jpg);
}

ion-input.caja{
    --color: #000000;
    --placeholder-color: #000000;
    --placeholder-opacity: 0.8;
    --border-color: #000000;
  }