<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Editar Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-back-button></ion-back-button>
      <ion-title size="large">Editar Perfil</ion-title>
    </ion-toolbar>
  </ion-header>
<br>


<div id="container">
  <ion-item>
  <ion-label>Foto perfil</ion-label>
  
  <ion-button (click)="takePicture()">Cambiar  foto</ion-button></ion-item>
  <img *ngIf="image" [src]="image" alt="image" style="width: 100%;max-width: 250px;">
</div>
<ion-item>
  <ion-input label="Nombres" placeholder="Escriba aqui"></ion-input>
</ion-item>
<ion-item>
  <ion-input label="Numero telefonico" placeholder="+56 9 xxx xxx"></ion-input>
</ion-item>
<ion-item>
  <ion-input label="Direccion" placeholder="Ingresar direccion"></ion-input>
</ion-item>
<ion-item>
  <ion-input label="Correo" placeholder="correo@email.com"></ion-input>
</ion-item>
<ion-item>
  <ion-textarea label="Problemas o enfermedades" labelPlacement="stacked" placeholder="Escriba aqui..."></ion-textarea>
</ion-item>
<br>
<ion-button color="success" expand="full">Actualizar.</ion-button>

</ion-content>
  