<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Clinica VitaLife</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="background">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Paciente</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <form [formGroup]="loginForm" (ngSubmit)="iniciarSesion()">
      <ion-list>
        <ion-item class="formGroup">
          <ion-label for="correo" position="floating">Correo</ion-label>
          <ion-input type="text" class="form-control" id="correo" formControlName="correo" placeholder="Ingrese su correo"></ion-input>
        </ion-item>
         
        <ion-item class="formGroup">
          <ion-label for="password" position="floating">Contraseña</ion-label>
          <ion-input class="form-control" id="password" formControlName="password" type="password" placeholder="Ingrese su contraseña"  ></ion-input>
        </ion-item>
       
      </ion-list>
      <ion-button type="submit" [disabled]="!loginForm.valid" expand="full">Ingresar</ion-button>
    </form>
    <ion-button [routerLink]="'/restablecer-contra'" fill="clear">¿Olvidaste tu contraseña?</ion-button>
    <ion-button [routerLink]="'/camara'" fill="clear">camara</ion-button>

    <ion-button [routerLink]="'/registro'" fill="clear">¿No tienes cuenta? Registrate</ion-button>
  </div>

</ion-content>
