<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content style="--background: none;">
  <!-- Fondo de degradado -->
  <div class="background-image"></div>

  <div class="user-profile">

    <div class="profile-content">
      <div class="profile-picture">
        <img src="../../../assets/icono.webp" alt="Foto del perfil">
        <a [routerLink]="'/camara'">Escoger Foto</a>

      </div>
      <div class="profile-info">
        <p><strong>Nombre:</strong> {{ userProfile.nombre }} {{userProfile.apellidoP}}</p>
        <p><strong>Email:</strong> {{ userProfile.correo }}</p>
        <p><strong>Teléfono:</strong> {{ userProfile.telefono }}</p>
        <!-- Agregar más campos según sea necesario -->
      </div>
    </div>
  </div>

  
  