<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content style="--background: none;">
  <!-- Fondo de degradado -->
  <div class="background-image"></div>

  <div class="user-profile">
    <div class="profile-header">
      <h2>Perfil del Usuario</h2>
    </div>
    <div class="profile-content">
      <div class="profile-picture">
        <img src="path_to_profile_picture.jpg" alt="Foto del perfil">
      </div>
      <div class="profile-info">
        <p><strong>Nombre:</strong> {{ userProfile.nombre }}</p>
        <p><strong>Email:</strong> {{ userProfile.apellido }}</p>
        <p><strong>Teléfono:</strong> {{ userProfile.telefono }}</p>
        <!-- Agregar más campos según sea necesario -->
      </div>
    </div>
  </div>

  
  