<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content style="--background: none;">
  <!-- Fondo de degradado -->
  <div class="background-image"></div>

  <div class="user-profile">

    <div class="profile-content">
      <div class="profile-picture">
        <img src="../../../assets/icono.webp" alt="Foto del perfil">
        <a [routerLink]="'/camara'">Escoger Foto</a>

      </div>
      <div class="profile-info">
        <p><strong>Nombre:</strong> {{ userProfile.nombre }} {{userProfile.apellidoP}}</p>
        <p><strong>Email:</strong> {{ userProfile.correo }}</p>
        <p><strong>Teléfono:</strong> {{ userProfile.telefono }}</p>
        <!-- Agregar más campos según sea necesario -->
      </div>
      <button type="button" class="button-edit mt-5" (click)="openModal(template)">
        Editar
      </button>
    </div>
  </div>

  <ng-template #template>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Editar Usuario</h4>
      <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
          <span aria-hidden="true" class="visually-hidden">&times;</span>
      </button>
  </div>
    <div class="modal-body">
      <form [formGroup]="userForm" (ngSubmit)="guardarCambios()">
        <div class="info-field">
          <label>Correo:</label>
          <div class="input-container">
            <input type="text" formControlName="correo">
          </div>
        </div>
        <div class="info-field">
          <label>Nombre de Usuario:</label>
          <div class="input-container">
            <input type="text" formControlName="nombreUsuario">
            <div *ngIf="userForm.get('nombreUsuario')?.hasError('required') && userForm.get('nombreUsuario')?.dirty" class="validation-message">
              {{ validationMessages.username.required }}
            </div>
          </div>
        </div>
        <div class="info-field">
          <label>Contraseña:</label>
          <div class="input-container">
            <input type="text" formControlName="contrasena">
            <div *ngIf="userForm.get('contrasena')?.hasError('required') && userForm.get('contrasena')?.dirty" class="validation-message">
              {{ validationMessages.password.required }}
            </div>
            <div *ngIf="userForm.get('contrasena')?.hasError('minlength') && userForm.get('contrasena')?.dirty" class="validation-message">
              {{ validationMessages.password.minlength }}
            </div>
          </div>
        </div>
        <div class="button-container">
          <button type="submit" class="button-edit">Guardar Cambios</button>
        </div>
      </form>
    </div>
  
  
  </ng-template>

  
  