<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Mensaje</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="background">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Mensajes</ion-title>
    </ion-toolbar>
  </ion-header> <br>
  <ion-card>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-input labelPlacement="floating" placeholder="correo@correo.com">
            <div slot="label">Correo electronico del paciente<ion-text color="danger">(Requerido)</ion-text></div>
          </ion-input>
        </ion-item>
      </ion-list> <br>

      <ion-item>
        <ion-textarea
          placeholder="Ingresa texto"
          [autoGrow]="true"
          value=""
        >
        </ion-textarea>
      </ion-item>
    </ion-card-content>
  </ion-card>
  <ion-button color="success" expand="full">Enviar.</ion-button>
</ion-content>
