<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Servicios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Servicios</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-title><h3>Ambulatorios</h3></ion-card-title>
    <ion-card-content>
    <ion-list lines="full">
        <ion-item>
          <ion-label>Atencion dental</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Banco de sangre</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Imagenologia</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Kinesiologia</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Procedimientos y examenes</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
<br> <br>

<ion-card>
  <ion-card-content>
    <ion-card-title><h3>Quirurgicos</h3></ion-card-title>
      <ion-list lines="inset">
        <ion-item>
          <ion-label>Cirugia</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Hospitalizacion</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Maternidad</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Urgencias</ion-label>
        </ion-item>
      </ion-list>
  </ion-card-content>
</ion-card>
</ion-content>
