<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Horas disponibles</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="background">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">horas dispo</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Nombre doctor</ion-card-title>
      <ion-card-subtitle>correo  / especialidad</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Horario disponible, breve descripcion.
    </ion-card-content>
  
    <ion-button fill="danger">Tomar hora</ion-button>
    <ion-button fill="clear">Eliminar hora</ion-button>
  </ion-card> <br>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Nombre doctor</ion-card-title>
      <ion-card-subtitle>correo  / especialidad</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Horario disponible, breve descripcion.
    </ion-card-content>
  
    <ion-button fill="danger">Tomar hora</ion-button>
    <ion-button fill="clear">Eliminar hora</ion-button>
  </ion-card> <br>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Nombre doctor</ion-card-title>
      <ion-card-subtitle>correo  / especialidad</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Horario disponible, breve descripcion.
    </ion-card-content>
  
    <ion-button fill="danger">Tomar hora</ion-button>
    <ion-button fill="clear">Eliminar hora</ion-button>
  </ion-card>
</ion-content>
