<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Clinica VitaLife</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="background">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Administración</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <div id="container">
    <strong>Bienvenido Sr. Administrador.</strong>
    <p>Ingrese sus datos.</p>
      <ion-card-content>
        <ion-input label="Correo" label-placement="floating" fill="outline" placeholder="correo@clinica.com"
        type="email" errorText="Correo Invalido" [(ngModel)]="email"></ion-input>
        <div *ngIf="email!='admin@email.com'">
          Correo no correspondiente.
        </div>
      </ion-card-content>
    
      <br>
      <ion-card-content>
        <ion-input type="password" label="Contraseña" label-placement="floating" fill="outline" placeholder="*******" [(ngModel)]="password"></ion-input>
      </ion-card-content>
      <br>
      <br>
      <ion-button color="success" routerLink="/vistaadmin" *ngIf="(email=='admin@email.com' && password=='Admin.123')">Iniciar sesion.</ion-button>
      <br>
      <br>
      <br>
      <br>
      <a routerLink="/recuperarcontra">¿Olvido su Contraseña?</a>
  </div>
</ion-content>