


<ion-content>
<div class="background-image"></div>
  
<div class="passwordReset-container">
    <form [formGroup]="recForm" (ngSubmit)="recuperarContra()">
      <ion-list lines="full" class="ion-no-margin ion-no-padding">
        <ion-item class="form-item">
          <ion-label position="floating">Correo</ion-label>
          <ion-input type="email" formControlName="correo"></ion-input>
        </ion-item>
      </ion-list>
      <div class="ion-padding">
        <ion-button expand="block" type="submit" [disabled]="!recForm.valid">Restablecer Contraseña</ion-button>
      </div>
    </form>
    <p class="login-link">
      ¿Recordaste tu contraseña? <a [routerLink]="'/paciente'">Iniciar sesión</a>
    </p>
  </div>


  <!-- Puedes agregar más contenido aquí si es necesario. -->
</ion-content>


