.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('../../../assets/fondooo.png') no-repeat center center;
  background-size: cover;
  z-index: -1;
}

ion-content {
  --ion-background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
}

.reset-password-container {
  background: rgba(255, 255, 255, 0.9); /* Ligero fondo blanco para legibilidad */
  border-radius: 20px; /* Bordes redondeados para el contenedor */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Sombra suave */
  padding: 2rem;
  margin: 2rem;
  max-width: 400px;
  width: 90%;
}

.form-item {
  background: rgba(0, 0, 0, 0.05); /* Fondo suave para elementos del formulario */
  margin-bottom: 1rem; /* Espacio entre elementos */
}

.reset-button {
  margin-top: 1rem;
  --ion-color-primary: var(--ion-color-secondary); /* Usa el color secundario para el botón */
}

.additional-options {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

ion-button {
  --padding-start: 0;
  --padding-end: 0;
}

@media (min-width: 768px) {
  .reset-password-container {
    margin: 4rem;
  }
}

.login-link {
  margin-top: 1rem;
  font-size: 0.9em;
}

.login-link a {
  color: var(--ion-color-primary);
  font-weight: bold;
  text-decoration: none;
}
