<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Contacto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="background"> 
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Contacto</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-card>
      <ion-card-content>
        <P>Si tienes una emergencia, reclamo o percance de ultimo minuto comunicate con nosotros mediante
          estos medios de contacto. <br>
          <br>
          Telefono: +56 9 5832 2394 
          <br> <br>
          Correo electronico: contacto@vitalife.com
        </P>
      </ion-card-content>
    </ion-card>
  </ion-content>

  

