<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Horas tomadas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="backgorund">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">horas tomadas</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Nombre del paciente</ion-card-title>
      <ion-card-subtitle>correo  / numero telefono</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Descripcion del problema que posee, observaciones, etc
    </ion-card-content>
  
    <ion-button fill="danger">Modificar hora</ion-button>
    <ion-button fill="clear">Cancelar hora</ion-button>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Nombre del paciente</ion-card-title>
      <ion-card-subtitle>correo</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Breve descipcion.
    </ion-card-content>
  
    <ion-button fill="danger">Modificar hora</ion-button>
    <ion-button fill="clear">Cancelar hora</ion-button>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Nombre del paciente</ion-card-title>
      <ion-card-subtitle>n° de telefono</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      breve descripcion.
    </ion-card-content>
  
    <ion-button fill="danger">Modificar hora</ion-button>
    <ion-button fill="clear">Cancelar hora</ion-button>
  </ion-card>
</ion-content>
