<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Horas agendadas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item *ngFor="let hora of this.userService.horasPaciente">
      <ion-avatar slot="start">
        <img *ngIf="hora.fotoMedico" [src]="hora.fotoMedico">
        <img *ngIf="!hora.fotoMedico" src="../../../assets/icono.png">
      </ion-avatar>
      <ion-label>
        <p>Paciente: {{hora.nombrePaciente}}</p>
        <p>Medico: {{hora.nombreMedico}}</p>
        <p>Fecha: {{hora.fechaAgendada | fechas}}</p>
        <ion-button color="danger" (click)="eliminarHora(hora)">Cancelar hora</ion-button>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
