<ion-header>
  <ion-toolbar>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Bienvenido/a, {{this.userService.currentUser.nombre}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Aquí tienes un resumen rápido de tus actividades.
    </ion-card-content>
  </ion-card>

  <ion-list>
    <ion-item button (click)="verPerfil()">
      <ion-icon name="person-circle" slot="start"></ion-icon>
      <ion-label>Ver Perfil</ion-label>
    </ion-item>
    <ion-item button (click)="signOut()">
      <ion-icon name="person-circle" slot="start"></ion-icon>
      <ion-label>Cerrar Sesión</ion-label>
    </ion-item>
    <ion-item button (click)="tomarHora()">
      <ion-icon name="person-circle" slot="start"></ion-icon>
      <ion-label>Tomar hora médica</ion-label>
    </ion-item>
    <!-- Más elementos según las necesidades de tu aplicación -->
  </ion-list>
  <br>
  <ion-list *ngIf="this.userService.currentUser.tipoUsuario === 'administrador'">
    <ion-item button (click)="verPacientes()">
      <ion-icon name="person-circle" slot="start"></ion-icon>
      <ion-label>Administrar Pacientes</ion-label>
    </ion-item>
    <ion-item button (click)="verMedicos()">
      <ion-icon name="person-circle" slot="start"></ion-icon>
      <ion-label>Administrar Médicos</ion-label>
    </ion-item>
    <!-- Más elementos según las necesidades de tu aplicación -->
  </ion-list>
</ion-content>
