<ion-header>
  <ion-toolbar>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Bienvenido/a, [Nombre del Usuario]</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Aquí tienes un resumen rápido de tus actividades.
    </ion-card-content>
  </ion-card>

  <ion-list>
    <ion-item button (click)="verPerfil()">
      <ion-icon name="person-circle" slot="start"></ion-icon>
      <ion-label>Ver Perfil</ion-label>
    </ion-item>



    <ion-button [routerLink]="'/camara'">

    </ion-button>
    <button (click)="scheduleAppointment()">Agendar una Cita</button>

    <!-- Más elementos según las necesidades de tu aplicación -->
  </ion-list>
</ion-content>
