<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Camara</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content style="--background: none;">
  <!-- Fondo de degradado -->
  <div class="background-image"></div> <br>
<ion-content [fullscreen]="true">
  <ion-button (click)=takePhoto()>Foto</ion-button>

  <ion-card *ngIf="imagen">
    <ion-img [src]="imagen.src"></ion-img>
    <ion-button (click)="subirFoto()">Subir foto</ion-button>
  </ion-card>

</ion-content>

