ion-content {
  --background: none;
  background-image: url('../../assets/fondooo.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.welcome-section {
  text-align: center;
  padding: 2rem;
}

.action-buttons {
  display: flex;
  flex-direction: column;
  margin: 2rem;
}

.info-section {
  text-align: center;
  padding: 1rem;
}

ion-icon {
  margin-bottom: 0.5rem;
}

h1 {
  margin-bottom: 2rem;
}

h2 {
  margin-top: 1rem;
}

@media (min-width: 768px) {
  .action-buttons {
    flex-direction: row;
    justify-content: space-around;
  }
}