<ion-header translucent>
  <ion-toolbar color="primary">
    <ion-title>Clinica</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="--background: none;">
  <!-- Fondo de degradado -->
  <div class="background-image"></div>
  
  <div class="ubicacion-actual">
    Ubicación actual: <span>{{ ubicacionActual }}</span>
  </div>
  
  <!-- Sección de bienvenida -->
  <div class="welcome-section">
    <ion-text color="dark">
      <h1>Bienvenido a Nuestra Clínica Vitalife</h1>
      <p>Accede para gestionar tus citas y consultar tu información de salud.</p>
    </ion-text>
    <ion-button expand="full" [routerLink]="'/paciente'">Iniciar Sesión</ion-button>
    <ion-button expand="full" [routerLink]="'/medico'">Iniciar Sesión</ion-button>

  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title>© 2023 Clínica</ion-title>
  </ion-toolbar>
</ion-footer>
