<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Registro de Medico</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content style="--background: none;">
  <!-- Fondo de degradado -->
  <div class="background-image"></div>

  <!-- Contenedor del formulario de registro -->
  <div class="login-container">
    <form [formGroup]="registerForm" (ngSubmit)="registrar()">
      <ion-list>

        <ion-item class="formGroup">
          <ion-label for="nombre" position="floating">Nombre</ion-label>
          <ion-input type="text" class="form-control" id="nombre" formControlName="nombre" placeholder="Ingrese su nombre"></ion-input>
          <div *ngIf="registerForm.get('nombre')?.hasError('required') && registerForm.get('nombre')?.dirty">
          </div>
        </ion-item>

        <ion-item class="formGroup">
          <ion-label for="apellidoP" position="floating">Apellido Paterno</ion-label>
          <ion-input type="text" class="form-control" id="nombre" formControlName="apellidoP" placeholder="Ingrese su apellido paterno"></ion-input>
          <div *ngIf="registerForm.get('apellidoP')?.hasError('required') && registerForm.get('apellidoP')?.dirty">
          </div>
        </ion-item>

        <ion-item class="formGroup">
          <ion-label for="apellidoM" position="floating">Apellido Materno</ion-label>
          <ion-input type="text" class="form-control" id="apellidoM" formControlName="apellidoM" placeholder="Ingrese su apellido materno"></ion-input>
          <div *ngIf="registerForm.get('apellidoM')?.hasError('required') && registerForm.get('apellidoM')?.dirty">
          </div>
        </ion-item>

        <ion-item class="formGroup">
          <ion-label for="edad" position="floating">Edad</ion-label>
          <ion-input type="text" class="form-control" id="edad" formControlName="edad" placeholder="Ingrese su edad"></ion-input>
          <div *ngIf="registerForm.get('edad')?.hasError('required') && registerForm.get('edad')?.dirty">
          </div>
        </ion-item>

        <ion-item class="formGroup">
          <ion-label for="telefono" position="floating">Numero telefonico</ion-label>
          <ion-input type="text" class="form-control" id="telefono" formControlName="telefono" placeholder="Ingrese su numero telefonico"></ion-input>
          <div *ngIf="registerForm.get('numero')?.hasError('required') && registerForm.get('numero')?.dirty">
          </div>
        </ion-item>
        <ion-item class="formGroup">
          <ion-label for="correo" position="floating">Correo electronico</ion-label>
          <ion-input type="text" class="form-control" id="correo" formControlName="correo" placeholder="Ingrese su Correo"></ion-input>
          <div *ngIf="registerForm.get('correo')?.hasError('required') && registerForm.get('correo')?.dirty">
          </div>
        </ion-item>

        <ion-item class="formGroup">
          <ion-label for="direccion" position="floating">direccion</ion-label>
          <ion-input type="text" class="form-control" id="direccion" formControlName="direccion" placeholder="Ingrese su direccion"></ion-input>
          <div *ngIf="registerForm.get('direccion')?.hasError('required') && registerForm.get('direccion')?.dirty">
          </div>
        </ion-item>

        <ion-item class="formGroup">
          <ion-label for="password" position="floating">Contraseña</ion-label>
          <ion-input type="password" class="form-control" id="password" formControlName="password" placeholder="Ingrese su Contraseña"></ion-input>
          <div *ngIf="registerForm.get('password')?.hasError('required') && registerForm.get('password')?.dirty">
          </div>
        </ion-item>

      </ion-list>
      <ion-button type="submit" [disabled]="!registerForm.valid" expand="full">Registrar medico</ion-button>
    </form>
  </div>
</ion-content>











